<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
    <title>{% block title %}e-ttend{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'assets/css/app.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/bundles/datatables/datatables.min.css' %}">
    <link rel="stylesheet"href="{% static 'assets/bundles/datatables/DataTables-1.10.16/css/dataTables.bootstrap4.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/bundles/dropzonejs/dropzone.css' %} ">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/components.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/custom.css' %}">
    <link rel='shortcut icon' type='image/x-icon' href="{% static 'img/ettendlogo2.png' %}">
    <link rel="stylesheet" href="{% static 'assets/bundles/prism/prism.css' %}">
</head>

<body>
    <div class="loader"></div>
    <div id="app">
        <div class="main-wrapper main-wrapper-1">
            <div class="navbar-bg"></div>
            <nav class="navbar navbar-expand-lg main-navbar sticky">
                {% block navbar %}
                <!-- Navbar content -->
                <div class="form-inline mr-auto">
                    <ul class="navbar-nav mr-3">
                        <li><a href="#" data-toggle="sidebar" class="nav-link nav-link-lg collapse-btn"> <i
                                    data-feather="align-justify"></i></a></li>
                        <li><a href="#" class="nav-link nav-link-lg fullscreen-btn">
                                <i data-feather="maximize"></i>
                            </a></li>
                        <li>
                            <form class="form-inline mr-auto">
                                <div class="search-element">
                                    <input class="form-control" type="search" placeholder="Search" aria-label="Search"
                                        data-width="200">
                                    <button class="btn" type="submit">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </div>
                            </form>
                        </li>
                    </ul>
                </div>
                <ul class="navbar-nav navbar-right">
                    <li class="dropdown dropdown-list-toggle"><a href="#" data-toggle="dropdown"
                            class="nav-link nav-link-lg message-toggle"><i data-feather="mail"></i>
                            <span class="badge headerBadge1">6</span></a>
                        <div class="dropdown-menu dropdown-list dropdown-menu-right pullDown">
                            <div class="dropdown-header">
                                Messages
                                <div class="float-right">
                                    <a href="#">Mark All As Read</a>
                                </div>
                            </div>
                            <div class="dropdown-list-content dropdown-list-message">
                                <a href="#" class="dropdown-item"> <span class="dropdown-item-avatar text-white"> <img
                                            alt="image" src="{% static 'img/user.png' %}"
                                            class="rounded-circle">
                                    </span> <span class="dropdown-item-desc"> <span class="message-user">John Deo</span>
                                        <span class="time messege-text">Please check your mail !!</span>
                                        <span class="time">2 Min Ago</span>
                                    </span>
                                </a>
                                <!-- More messages content -->
                            </div>
                            <div class="dropdown-footer text-center">
                                <a href="#">View All <i class="fas fa-chevron-right"></i></a>
                            </div>
                        </div>
                    </li>
                    <li class="dropdown dropdown-list-toggle"><a href="#" data-toggle="dropdown"
                            class="nav-link notification-toggle nav-link-lg"><i data-feather="bell"
                                class="bell"></i></a>
                        <div class="dropdown-menu dropdown-list dropdown-menu-right pullDown">
                            <div class="dropdown-header">
                                Notifications
                                <div class="float-right">
                                    <a href="#">Mark All As Read</a>
                                </div>
                            </div>
                            <div class="dropdown-list-content dropdown-list-icons">
                                <a href="#" class="dropdown-item dropdown-item-unread"> <span
                                        class="dropdown-item-icon bg-primary text-white"> <i class="fas fa-code"></i>
                                    </span> <span class="dropdown-item-desc"> attendance update is coming soon now! <span
                                            class="time">2 Min Ago</span>
                                    </span>
                                </a>
                                <!-- More notifications content -->
                            </div>
                            <div class="dropdown-footer text-center">
                                <a href="#">View All <i class="fas fa-chevron-right"></i></a>
                            </div>
                        </div>
                    </li>
                    <li class="dropdown"><a href="#" data-toggle="dropdown"
                            class="nav-link dropdown-toggle nav-link-lg nav-link-user"> <img alt="image"
                                src="{% static 'img/user.png' %}" class="user-img-radious-style"> <span
                                class="d-sm-none d-lg-inline-block"></span></a>
                        <div class="dropdown-menu dropdown-menu-right pullDown">
                            <div class="dropdown-title">{{ admin_name}}</div>
                            <a href="profile.html" class="dropdown-item has-icon"> <i class="far fa-user"></i>
                                Profile</a>
                            <a href="timeline.html" class="dropdown-item has-icon"> <i class="fas fa-bolt"></i>
                                Activities</a>
                            <a href="#" class="dropdown-item has-icon"> <i class="fas fa-cog"></i> Settings</a>
                            <div class="dropdown-divider"></div>
                            <a href="{% url 'admin_logout' %}" class="dropdown-item has-icon text-danger"> <i
                                    class="fas fa-sign-out-alt"></i> Logout</a>
                        </div>
                    </li>
                </ul>
                {% endblock %}
            </nav>
            <div class="main-sidebar sidebar-style-2">
                <aside id="sidebar-wrapper">
                    <div class="sidebar-brand">
                        <a href="index.html"> <img alt="image" src="{% static 'img/ettendlogo2.png' %}"
                                class="header-logo"  /> <span class="logo-name font-12">E-TTEND </span></a>
                    </div>
                <ul class="sidebar-menu">
                    <li class="menu-header">Main</li>
                    <li class="dropdown">
                       
                        <a href="{% url 'dashboard' %}" class="nav-link"><i data-feather="monitor"></i><span>Dashboard</span></a>
                    </li>
                    
                    <li class="dropdown">
                        <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="command"></i><span>Departments </span></a>
                        <ul class="dropdown-menu">
                            <li><a class="nav-link" href="{% url 'dept_upload' %}">upload students</a></li>
                            <li><a class="nav-link" href="{% url 'view_timetable' %}">view students</a></li>
                            <li><a class="nav-link" href="blog.html">edit</a></li>
                            <li><a class="nav-link" href="calendar.html">Calendar</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="briefcase"></i><span>Machine processing </span></a>
                        <ul class="dropdown-menu">
                            
                            <li><a class="nav-link" href="{% url 'machine_attendance' %}">upload machince </a></li>
                            
                            <li><a class="nav-link" href="{% url 'upload_view'%}">view records</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="command"></i><span>Dept. Academic planning</span></a>
                        <ul class="dropdown-menu">
                            <li><a class="nav-link" href="{% url 'time_table' %}">upload timetable</a></li>
                            <li><a class="nav-link" href="{% url 'view_timetable' %}">view timetable</a></li>
                            <li><a class="nav-link" href="blog.html">edit</a></li>
                            <li><a class="nav-link" href="calendar.html">Calendar</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="feather"></i><span>Quality assurance </span></a>
                        <ul class="dropdown-menu">
                            <li><a class="nav-link" href="{% url 'student_attendance' %}">student attendance</a></li>
                           
                            <li><a class="nav-link" href="email-read.html">suggestion </a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="briefcase"></i><span>staff  events</span></a>
                        
                        <ul class="dropdown-menu">
                    
                            <li><a class="nav-link" href="{% url 'staff_biometrics_upload' %}">upload staff machine data </a></li>
                    
                            <li><a class="nav-link" href="{% url 'staff_biometrics_view'%}">view uploaded data </a></li>
                            <li><a class="nav-link" href="{% url 'staff_event_create'%}">create staff event  </a></li>
                            <li><a class="nav-link" href="{% url 'staff_event_attendance'%}"> event attendance  </a></li>
                            <li><a class="nav-link" href="email-compose.html">score card </a></li>
                            <li><a class="nav-link" href="email-compose.html"> Analysis </a></li>
                            
                        </ul>
                    </li>
                      <li class="dropdown">
                        <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="briefcase"></i><span>unscheduled events</span></a>
                        
                        <ul class="dropdown-menu">
                    
                            <li><a class="nav-link" href="{% url 'unscheduled_attendance' %}">upload machince data </a></li>
                    
                            <li><a class="nav-link" href="{% url 'upload_view'%}">capture staff details </a></li>
                            <li><a class="nav-link" href="email-compose.html">conference </a></li>
                        </ul>
                    </li>
                       <li class="dropdown">
                        <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="feather"></i><span>
                            tracking Attendance 
                        </span></a>
                        
                        <ul class="dropdown-menu">
                    
                            <li><a class="nav-link" href="{% url 'summary_attend' %}"> Summary Week  </a></li>
                    
                            <li><a class="nav-link" href="{% url 'upload_view'%}">Student Summary  </a></li>
                            <li><a class="nav-link" href="email-compose.html">Summary by Department </a></li>
                             <li><a class="nav-link" href="{% url 'scorecard' %}">score card  </a></li>
                        </ul>
                    </li>
                    <li class="menu-header">E-TTEND </li>
               
                    
                    <li class="menu-header">COMP SCI INNOVATION HUB</li>
                   
                   
                
                
                                </ul>
                            

                        <!-- More menu items -->

                    
                </aside>
            </div>
            <!-- Main Content -->
            <div class="main-content">
                {% block content %}
                {% endblock %}
            </div>
            <footer class="main-footer">
                <div class="footer-left">
                    <a href="#">COMPUTER SCI DEPARTMENT INNOVATION LAB </a>
                </div>
                <div class="footer-right">
                </div>
            </footer>
        </div>
    </div>
    <!-- General JS Scripts -->
 
    <script src="{% static 'assets/js/app.min.js' %}"></script>
    <!-- JS Libraies -->
    <script src="{% static 'assets/bundles/apexcharts/apexcharts.min.js' %}"></script>
    <!-- Page Specific JS File -->
    <script src="{% static 'assets/js/page/index.js' %}"></script>
    <!-- Template JS File -->
    <script src="{% static 'assets/js/scripts.js' %}"></script>
    <!-- Custom JS File -->
    <script src="{% static 'assets/js/custom.js' %}"></script>
    <script src="{% static 'bundles/prism/prism.js' %}"></script>
    <script src="{% static 'assets/bundles/dropzonejs/min/dropzone.min.js'%}"></script>
    <!-- Page Specific JS File -->
  
    <script src="{% static 'assets/bundles/datatables/datatables.min.js'%}"></script>
    <script src="{% static 'assets/bundles/datatables/DataTables-1.10.16/js/dataTables.bootstrap4.min.js'%}"></script>
    <script src="{% static 'assets/bundles/datatables/export-tables/dataTables.buttons.min.js'%}"></script>
    <script src="{% static 'assets/bundles/datatables/export-tables/buttons.flash.min.js'%}"></script>
    <script src="{% static 'assets/bundles/datatables/export-tables/jszip.min.js'%}"></script>
    <script src="{% static 'assets/bundles/datatables/export-tables/pdfmake.min.js'%}"></script>
    <script src="{% static 'assets/bundles/datatables/export-tables/vfs_fonts.js'%}"></script>
    <script src="{% static 'assets/bundles/datatables/export-tables/buttons.print.min.js'%}"></script>
    <script src="{% static 'assets/js/page/datatables.js'%}"></script>
    

</body>

</html>